body {
    margin: 0 auto;
    width: 90%;
}

header {
    background-color: rgb(107, 136, 173);
    padding: 20px;
}

a {
    text-decoration: none;
}

h1 {
    color: white;
}

a h1 {
    color: white;
}

a:hover h1 {
    color: orange;
}

h3 {
    background-color: orange;
    padding: 10px 20px;
}

h4 {
    padding: 5px 20px;
}

.content {
    margin-left: 20px;
}

.question {
    background-color: beige;
    padding: 10px;
}

@media only screen and (min-width: 32.5em) {
    body {
        width: 70%;
    }
}